# A b
# snippet be "begin document and end it"
# \begin{document}
#
# \end{document}
# endsnippet
# Snippet for creating new generic LaTeX environments
snippet env "New LaTeX environment" b
\begin{$1}
	$2
\end{$1}
$0
endsnippet
