# Snippet for typewriting font
snippet tt "The \texttt{} command for typewriter-style font"
\texttt{${1:${VISUAL:}}}$0
endsnippet

# Snippet for italic font
snippet tii "The \textit{} command for italic font"
\textit{${1:${VISUAL:}}}$0
endsnippet

# Snippet for inserting named links with href
snippet hr "The hyperref package's \href{}{} command (for url links)"
\href{${1:url}}{${2:display name}}$0
endsnippet
